.main-container {
    display: grid;
    grid-template-columns: 5fr 2fr;


}

.left-part {
    background-color: #F4F7F9;
}

.left-container {
    margin: 70px 50px;
}



.user-info {
    padding: 50px 25px;
}

.userProfile {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 40px;
}

.user-image {
    width: 80px;
}

.user-details {
    margin-left: 20px;
}

.user-name {
    margin: 10px 0px;
    font-size: 27px;
}

.user-address {
    font-size: 20px;
    margin-top: 0px;
    color: gray;
}

.icon {
    width: 20px;
    margin-right: 5px;
}

.healthDetails {
    background-color: #F2F4FA;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.block {
    padding: 30px;
}

.block p {
    margin: 0px;
}

.font-size {
    font-size: 40px;
}

.break-title {
    margin: 30px 0px;

}

.breakTime {
    background-color: #F2F4FA;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    margin-bottom: 40px;

}

.breakTime button {
    padding: 20px 15px;
    display: block;
    border: none;
    background-color: white;
    border-radius: 70px;
    cursor: pointer;
    font-size: 18px;
    box-shadow: 2px 2px 6px gray;
    /* margin: 2px; */

}

.breakTime button:focus {
    background-color: blueviolet;
    color: white;
}


.block-2 {
    background-color: #F2F4FA;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    margin-bottom: 20px;
    font-size: 18px;
}

.btn-add {
    width: 100%;
    background-color: blueviolet;
    border: none;
    padding: 20px;
    font-size: 18px;
    color: white;
    border-radius: 7px;
}



@media screen and (max-width:600px) {
    .main-container {
        display: flex;
        flex-direction: column;
    }

    .left-container {
        margin: 40px;

    }
}

@media only screen and (min-width:601px) and (max-width:1200px) {

    .main-container {
        display: grid;
        grid-template-columns: 3fr 2fr;

    }
}