.main-container {
    display: grid;
    grid-template-columns: 5fr 2fr;


}

.left-part {
    background-color: #F4F7F9;
}

.left-container {
    margin: 70px 50px;
}

@media screen and (max-width:600px) {
    .main-container {
        display: flex;
        flex-direction: column;
    }
 
    .left-container {
        margin: 40px;

    }
}

@media only screen and (min-width:601px) and (max-width:1200px) {

    .main-container {
        display: grid;
        grid-template-columns: 3fr 2fr;

    }
}