.question-container {
    margin-top: 80px;
}

.question-and-ans {
    background-color: white;
    padding: 30px 10px;
    margin-top: 40px;
    border-radius: 10px;
    box-shadow: 2px 2px 6px gray;
}